.card {
  border-color: black;
  border-width: 2px;
  border-radius: 9px;
  padding: 16px;
  width: 154px;
  background-color: rgb(234, 245, 252);
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
  cursor: pointer;
}

.wind-speed {
  font-size: 13px;
}

.humidity {
  font-size: 13px;
}

.warm-temp {
  color: red;
}

.cold-temp {
  color: blue;
}

.night-temp {
  color: rgb(113, 113, 129);
  margin-bottom: 8px;
}

.temp-block {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.sun-icon,
.moon-icon {
  width: 20px;
}
