#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search {
  margin-bottom: 32px;
}

.cards {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.search div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  height: 40px;
  width: 400px;
  border-radius: 9px;
  padding: 12px;
  font-size: medium;
}

.search button {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 9px;
  border-radius: 0px;
  border-color: black;
  border-width: 2px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
}

.search button:hover {
  border-color: rgb(0, 0, 0);
  background-color: rgb(245, 242, 242);
}

.search-logo {
  height: 100%;
  width: auto;
}
